@model Listable.MVCWebApp.ViewModels.Collections.OverviewViewModel

@{
    ViewData["Title"] = "Overview";
}

<div class="listable-collections-container">
    <div class="listable-collections-overview">
        <ul>
            @foreach (var collection in Model.collections)
            {
                <a href="@Url.Action("Collection", "Collections", new { collectionId = @collection.Item1 }, null)">
                    <li>@collection.Item2</li>
                </a>
            }
        </ul>
    </div>
    <div class="listable-collections-btns">
        <a href="@Url.Action("DeleteCollection", "Collections", null, null)"><div class="fl-right"><span><i class="fa fa-trash-alt" aria-hidden="true"></i></span></div></a>
        <a href="@Url.Action("CreateCollection", "Collections", null, null)"><div class="fl-right bump-right"><span><i class="fa fa-plus" aria-hidden="true"></i></span></div></a>
    </div>
</div>


