@model Listable.MVCWebApp.ViewModels.Collections.ViewItemViewModel

@{
    ViewData["Title"] = "View Item";
}

<div class="listable-collections-container">
    <div class="listable-collections-title">
        @Model.CollectionName
    </div>

    <div class="listable-collections-item">
        <div class="lc-field">
            @Model.Name
        </div>
        <div class="lc-field">
            @Model.Description
        </div>
        @if (Model.ImageEnabled)
        {
            <div class="lc-field">
                <div class="lc-media-title">Media:</div>
                <div class="lc-img-field">
                    <img src="@Model.ImageUrl" />
                </div>
            </div>
        }
    </div>

    <div class="listable-collections-btns">
        <a href="@Url.Action("EditItem", "CollectionItem", new { collectionId = Model.CollectionId }, null)"><div class="fl-right bump-right"><span><i class="far fa-edit" aria-hidden="true"></i></span></div></a>
        <a href="@Url.Action("Collection", "Collections", new { collectionId = Model.CollectionId }, null)"><div><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div></a>
    </div>
    <div asp-validation-summary="All"></div>
</div>

